    /* ຈັດໂຕຫນັງສືທັ້ງໝົດ */

* {
  font-family: "Noto Serif Lao", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:"wdth" 100;

    /* ຈັດໜ້າເວັບ */

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  button {
    cursor: pointer;
    padding: 8px 16px;
    background: #36597a;
    color: #f2f2f2;
    border: none;
    font-size: clamp(14px, 1vw, 16px);
    border-radius: 5px;
  }

  button:hover {
    background: #2a4275;
        }

}

    /* ຈັດສີພື້ນຫຼັງ */

body {
    background: #cfa58c;
}

    /* ຈັດເຄຶ່ງກາງຂອງ top navbar */

header {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        font-size: clamp(20px, 2vw, 32px);
    }

    .cart-icon {
        font-size: clamp(14px, 1vw, 18px);
    }
}

    /* ຈັດຂະໜາດຂອງ container */

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding: 20px;
    position: relative;
    
    /* ຈັດສ່ວນ products */

    .products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;

        .product {
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
            padding: 15px;
            text-align: center;

            img {
                width: 100%;
                height: 120px;
                object-fit: cover;
                border-radius: 10px;

            }

            p {
                font-size: clamp(10px, 1vw, 16px);
            }

            button {
                margin-top: 10px;
                font-size: clamp(10px, 1vw, 16px);
            }
        }
    }    

    .cart {
            padding: 15px;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
            height: fit-content;
            position: sticky;
            top: 10px;
        }

        h2 {
            font-size: clamp(14px, 2vw, 18px);
        }

        ul {
            list-style: none;
            margin: 10px 0;
            
            li {
                display: flex;
                justify-content: space-between;
                margin-bottom: 5px;
                font-size: clamp(8px, 1vw, 18px);
                


            }

            span {
                font-size: 12px;
                
            }
        }

        .total {
            font-size: clamp(10px, 1vw, 18px);
            margin-top: 15px;
        }

        #clearBtn {
            width: 100%;
            margin-top: 15px;
            font-size: clamp(10px, 1vw, 18px);

        }

}

@media screen and (max-width:480px) {
    .container {
        grid-template-columns: 2fr 1fr;

        .products {
            grid-template-columns: 1fr 1fr;
        }
    }
}